<div class='title'> <%= t("set_customer") %> </div>

<div class='section'>
  <p>
    <%= simple_form_for :customer, url: 'define_customer', method: 'get', layout: :inline do |f| %>
      <%= f.input :customer_id, as: :select, collection: @customers.collect {|p| [ p.name, p.id ] }, hide_label: true %>
      <%= f.button :submit, t("sign_in_customer"), class: 'btn-primary' %>
    <% end %>
  </p>
</div>
