<div class='title'>
  <span> <%= t('unit.title') %> </span>
</div>

<div class='list1'>
  <% unless @units.empty? %>
    <% @units.each do |unit| %>
      <li>
        <div class='strip' id='none'> <%= unit.id %> </div>
        <div class='tools'>
          <a class="btn btn-xs btn-default" <%= link_to(t('menu.edit'), edit_unit_path(unit)) %> </a>
        </div>

        <div class='indent'>
          <%= link_to(unit.name, unit_path(unit)) %>
          <tt></tt>
          <dt></dt>
        </div>
      </li>
    <% end %>
  <% end %>
</div>
