<div class='title'>
  <span> <%= t('unit.title') %> </span>
</div>

<div class='list1'>
  <% if @units %>
    <li>
      <div class='strip' id='none'> <%= @units.id %> </div>
      <div class='tools'>
        <a class="btn btn-xs btn-default" <%= link_to(t('menu.edit'), edit_unit_path(@units)) %> </a>
      </div>

      <div class='indent'>
        <%= link_to(@units.name, unit_path(@units)) %>
        <tt></tt>
        <dt></dt>
      </div>
    </li>
  <% end %>
</div>
