form p + p {
	margin-top: 15px;
}

form label{
	display: block;
}

input.string {
	font-size: 14px;
	padding: 5px 10px;
	-webkit-transition: background .3s easy-in;
}

input.password {
	font-size: 14px;
	padding: 5px 10px;
	-webkit-transition: background .3s easy-in;
}

input.decimal {
	font-size: 14px;
	padding: 5px 10px;
	-webkit-transition: background .3s easy-in;
}

input.integer {
	font-size: 14px;
	padding: 5px 10px;
	-webkit-transition: background .3s easy-in;
}

.styled-select select {
   background-color: none;
   font-size: 14px;
   padding: 5px 10px;
   border: 1px solid #ccc;
   height: 35px;
   width: auto;
   -webkit-transition: background .3s easy-in;
}

.styled-select select:focus {
	background: #ffc;
}

input.string:focus {
	background: #ffc;
}

input.numeric:focus {
	background: #ffc;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

.field_with_errors input.string:focus {
	background: #fdd;
	outline_color: #caa;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

span.error {
  xxdisplay: block;
	color: #900;
}

.title {
  border-bottom: 1px gray solid;
  color: #342d7e;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 2px; }
  .title img {
    position: relative;
    top: 2px; }

.title_page {
  border-bottom: 1px gray solid;
  color: #342d7e;
  font-size: 17px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 1px; }

.title_tools {
  font-size: 12px;
  float: right;
  margin: 4px 0px 0px 0px; }

.subtitle {
  padding: 10px 0 0 0;
  border-bottom: 1px silver solid;
  color: #342d7e;
  font-size: 14px;
  font-weight: bold; }
  .subtitle a:link, .subtitle a:visited {
    color: darkslateblue;
    text-decoration: none; }
  .subtitle a:hover {
    background: none; }

.subtitle_red {
  border-bottom: 1px silver solid;
  color: #2f2f2f;
  font-size: 13px;
  font-weight: bold; }
	.subtitle_red a:link, .subtitle_red a:visited {
	  color: red;
	  text-decoration: none; }
  .subtitle_red a:hover {
    background: none; }

.subtitle_tools {
  font-size: 11px;
  float: right; }

.radio_box {
  line-height: 20px; }
  .radio_box input {
    position: relative;
    top: -2px; }

.check_box {
  line-height: 20px; }
  .check_box input {
    position: relative;
    top: -3px; }
  .check_box label {
    font-size: 11px; }

.tabless {
  margin: auto;
  width: 480px; }

.winmodal {
  background: white;
  border: 2px whitesmoke solid;
  margin: 15px auto 2px auto;
  padding: 15px;
  width: 90%;
  -moz-border-radius: 6px;
  -moz-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb; }

.window_service {
  background: white;
  border: 2px whitesmoke solid;
  margin: 15px auto 2px auto;
  padding: 15px;
  width: 70%;
  -moz-border-radius: 6px;
  -moz-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb; }

.standalone {
  background: whitesmoke;
  border: 2px whitesmoke solid;
  margin: 45px auto 6px auto;
  padding: 20px;
  width: 450px;
  -moz-border-radius: 6px;
  -moz-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 5px 5px 15px #bbb, -5px 0px 15px #bbb; }

.standalone input[type="email"], .standalone input[type="password"] {
    font-size: 14px;
    padding: 2px;
    width: 350px; }

.standalone input[type="submit"] {
    font-size: 14px; }

.tabbed {
  padding: 10px 0px 10px 0px;
  margin: 1% 1% 1% 1%;
 }

.main {
  background: whitesmoke;
  border: 1px whitesmoke solid;
  padding: 10px 10px 10px 10px;
  -moz-border-radius: 4px;
  -moz-box-shadow: 2px 2px 8px #bbb, -2px 0px 8px #bbb;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 2px 2px 8px #bbb, -2px 0px 8px #bbb; }

.form {
  background: white; }
  .form h4 {
    font-size: 18px;
    height: 30px; }

.tools {
  font-size: 11px;
  float: right; }
  .tools#comment_new_tools {
    margin: 8px 0px 0px 0px; }

.label1 {
  color: #3f3f3f;
  font-size: 12px;
  margin: 8px 0px 0px 0px; }

.top {
  margin: 5px 0px 0px 0px; }

.req {
  color: navy;
  font-weight: bold;
}

.intro {
  color: dimgray;
  font-size: 12px;
  padding-top: 5px; }

.section {
  background: whitesmoke;
  color: #3f3f3f;
  margin: 0px 0px 2px 0px;
  padding: 4px 15px 8px 15px; }

.message {
	background: whitesmoke;
	color: #3f3f3f;
	margin: 0px 15px 2px 15px; }

.remote {
  border: 5px lightblue solid;
  background: whitesmoke;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  position: relative; }
  .remote .close {
    background: lightblue;
    border-top: 1px gainsboro solid;
    border-left: 1px gainsboro solid;
    border-bottom: 1px grey solid;
    border-right: 1px grey solid;
    color: navy;
    cursor: pointer;
    height: 16px;
    margin: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 17px; }

.buttonbar {
  border-top: 1px gray solid;
  margin: 8px auto;
  padding-top: 8px; }

.section input, .sidebar input, .inline input,
.section select, .sidebar select, .inline select,
.section textarea, .sidebar textarea, .inline textarea {
  margin: 3px 0px 0px 0px;
  vertical-align: middle; }

.cool {
  color: darkgreen; }

.warn {
  color: crimson; }

.urgent {
  color: darkred; }

.black {
  color: black; }

.white {
  color: white !important; }

.grayed {
  color: silver !important; }

.indent {
  margin-left: 70px; }

.indentslim {
  margin-left: 38px; }

.indentwide {
  margin-left: 106px; }

.indentfull {
  margin-left: 126px; }

.bucket {
  margin: 0px 0px 10px 0px; }

.prefix {
  width: 30px;
  font-size: 10px; }

.comment {
  background: #f2f2f2;
  border-bottom: 1px gainsboro solid;
  margin: 2px 0px 0px 0px;
  overflow: hidden;
  padding: 4px;
  list-style: none; }
  .comment#comment_new {
    margin: 3px 0px 0px 0px; }
  .comment input[type=text] {
    border: 1px #cfcfcf solid;
    color: grey;
    font-size: 11px;
    margin: 3px 0px 0px 0px;
    padding: 3px;
    width: 500px; }
  .comment textarea {
    font-size: 11px;
    height: 110px;
    margin: 3px 0px 0px 0px;
    padding: 3px;
    width: 500px; }
  .comment .gravatar {
    float: left;
    margin: 3px 10px 3px 3px; }
  .comment .body {
    display: inline;
    font-size: 11px; }
  .comment tt {
    font-size: 10px;
    color: #666666; }
  .comment dt {
    padding: 0px;
    margin: -10px 0px 0px 36px; }
    .comment dt p {
      margin: 10px 0px 0px 0px; }

.mail {
  background: #f2f2f2;
  border-bottom: 1px gainsboro solid;
  margin: 2px 0px 0px 0px;
  overflow: hidden;
  padding: 4px;
  list-style: none; }
  .mail .gravatar {
    float: left;
    margin: 3px 10px 3px 3px; }
  .mail .subject {
    color: black; }
  .mail .body {
    display: inline;
    font-size: 11px; }
  .mail tt {
    font-size: 10px;
    color: #666666; }
  .mail dt {
    padding: 0px;
    margin: -10px 0px 0px 36px; }
    .mail dt p {
      margin: 10px 0px 0px 0px; }

.toggle {
  font-weight: normal; }

#paginate {
  float: right;
  font-size: 10px;
  margin: 4px 0px 0px 0px; }

#paging {
  float: right;
  margin: 7px 5px 0px 0px; }

.confirm {
  background: #cdfecd;
  border-left: 10px palegreen solid;
  font-size: 11px;
  margin: 0px 0px 6px 0px;
  padding: 6px; }

.log {
  padding: 8px 0px 0px 0px; }
  .log h3 {
    border-bottom: 1px #2f2f2f dotted;
    color: #2f2f2f;
    margin: 0px 0px 4px 0px;
    padding: 2px 0px 2px 86px; }
    .log h3.overdue {
      color: crimson;
      border-bottom: 1px crimson dotted; }
    .log h3.due_asap {
      color: darkred;
      border-bottom: 1px darkred dotted; }
    .log h3.due_today {
      color: darkgreen;
      border-bottom: 1px darkgreen dotted; }
  .log li {
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 3px 0px 3px 0px; }
    .log li tt {
      color: dimgray;
      font-size: 11px; }
  .log input[type=checkbox] {
    float: left;
    margin: 0px 4px 0px 0px; }

.list1 {
  padding: 8px 0px 0px 0px; }
  .list1 li {
    border-bottom: 1px silver dotted;
    clear: both;
    color: #3f3f3f;
    font-size: 12px;
    list-style: none;
    padding: 3px 0px 3px 0px; }
    .list1 li .gravatar {
      float: left;
      padding: 0px 8px 0px 0px; }
    .list1 li tt {
      color: dimgray;
      font-size: 11px; }
    .list1 li dt {
      color: #3f3f3f;
      font-size: 11px;
      padding: 2px 0px 0px 0px; }
    .list1 li dt a:link, .list1 li dt a:visited {
      color: #3f3f3f;
      font-weight: bold;
      text-decoration: none; }
    .list1 li dt a:hover {
      background: dimgray;
      color: white;
      font-weight: bold;
      text-decoration: none; }

.list_events{
	padding: 4px 0px 0px 0px; }
	.list_events li {
	  border-bottom: 1px silver dotted;
	  clear: both;
	  color: #3f3f3f;
	  font-size: 12px;
	  list-style: none;
	  padding: 4px 0px 4px 0px; }
	  .list_events li tt {
	    color: dimgray;
	    font-size: 11px; }
	  .list_events li dt {
	    color: #3f3f3f;
	    font-size: 11px;
	    padding: 2px 0px 0px 0px; }
	  .list_events li dt a:link, .list_events li dt a:visited {
	    color: #3f3f3f;
	    font-weight: bold;
	    text-decoration: none; }
	  .list_events li dt a:hover {
	    background: dimgray;
	    color: white;
	    font-weight: bold;
	    text-decoration: none; }


.filters, .panel1 {
  background: snow;
  margin: 0px 0px 12px 0px;
  padding: 6px 8px 6px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 2px 2px 8px #bbb, -2px 0px 8px #bbb;
  -webkit-box-shadow: 2px 2px 8px #bbb, -2px 0px 8px #bbb; }

.filters h4 {
  color: navy;
  font-size: 12px;
  font-weight: bold; }
.filters input[type=text] {
  margin-bottom: 4px; }

.panel1 div {
  margin: 0px 0px 10px 0px; }
.panel1 h4 {
  font-size: 14px;
  font-weight: bold; }
.panel1 li {
  border-bottom: 1px silver dotted;
  font-size: 12px;
  list-style: none;
  padding: 5px 0px 3px 0px; }
  .panel1 li dt {
    float: right;
    font-size: 11px;
    font-weight: bold; }
  .panel1 li tt {
    font-size: 11px; }
  .panel1 li.last {
    border-bottom: none; }
.panel1 .caption {
  border-bottom: 1px grey solid;
  color: navy;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 0px 2px 0px;
  padding: 2px 0px 2px 0px; }
.panel1#recently {
  background: floralwhite; }
.panel1#recently .title {
  font-size: 16px; }
.panel1#summary {
  background: oldlace; }
  .panel1#summary p {
    margin: 4px 0px 4px 0px; }

.selector {
  color: black;
  cursor: pointer;
  font-size: 10px;
  text-align: center; }

.on {
  background: lightgoldenrodyellow;
  border: 1px silver inset; }

.off {
  background: lightgrey;
  border: 1px silver outset; }

.arrow {
  font-size: 9px;
  padding: 0px 2px 3px 0px; }

.left {
  -moz-border-radius-bottomleft: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -webkit-border-top-left-radius: 9px; }

.right {
  -moz-border-radius-bottomright: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -webkit-border-top-right-radius: 9px; }

.menu {
  background: #f4f5eb;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  left: 0px;
  padding: 2px 0px;
  position: absolute;
  top: 0px;
  width: 12em;
  -webkit-box-shadow: 10px 10px 15px gainsboro; }
  .menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .menu li {
    list-style-position: outside; }
  .menu a {
    color: #555;
    cursor: default;
    display: block;
    margin: 0px 2px;
    outline: none;
    padding: 4px 15px;
    text-decoration: none; }
  .menu a:hover {
    background: mediumblue;
    color: #fff; }

