<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to(session[:customer_name] ? session[:customer_name].upcase : t("corporation"), root_path, class: "navbar-brand") %>

  		<% if user_signed_in? %>
      	<ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <strong><%= current_user.name %></strong>
              <strong>
                <% if current_user.admin? %>
                  (ADMIN)
                <% elsif current_user.user? %>
                  (COLABORADOR)
                <% else %>
                  (NAO DEFINIDO)
                <% end %>
              </strong>
            </a>
          </li>

          <%= render "layouts/menu" if session[:customer_id] %>

      	  <li class='active'><%= link_to t("logout", default: "Logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
  		<% end %>
    </div>
  </div>
</header>
